@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

:root {
    --firstColor: #313535;
    --secondColor: #ffffff;
    --thirdColor: #000000;
    --bgFirstColor: #757979;
    --bgSecondoColor: #4C4D4D;
}

@keyframes moveHorizontal {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(1.25em);
    }

    100% {
        transform: translateX(0);
    }
}

body {
    margin: 0;
    background: var(--bgFirstColor);
    font-family: 'Sofia Sans', sans-serif;
}

html {
    font-family: sans-serif;
    height: 100%;
}

main {
    display: flex;
    justify-content: center;
}


.header-container {
    text-align: center;
    margin: auto;
    background-color: var(--firstColor);
}


.profilePhoto {
    width: 5em;
    border-radius: 50%;
    padding-top: .5em;
}

#hamburguer {
    background-color: var(--secondColor);
    color: var(--firstColor);
    display: block;
    text-align: center;
    padding: .3em;
    cursor: pointer;
    font-size: 2em;
}

.header-nav {
    background-color: var(--firstColor);
}

.header-nav ul {
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .8em;
    display: none;
}

.header-nav ul.show {
    display: block;
}

ul {
    margin: 0;
}

.header-nav a {
    color: var(--secondColor);
    text-decoration: none;
    display: block;
    padding: 1em;
}

.header-nav a:hover {
    background: radial-gradient(circle, rgba(79, 76, 77, 1) 0%, rgba(234, 238, 244, 1) 100%);
}

.container-img {
    position: relative;
    width: 100%;
    text-align: center;
}

.container-img img,
.container-ElasNaTech img,
.container-desafios img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.container-conquistas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-conquistas img {
    width: 60%;
    max-width: 80%;
    height: 60%;
    
}

.Name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
    color: var(--thirdColor);
    z-index: 1;
    font-size: 1em;
    animation: moveHorizontal 3s infinite;
}

.container-sobreMim,
.container-desafios,
.container-aprendizado {
    border: 2px solid #4C4D4D;
    background-color: var(--bgSecondoColor);
    color: white;
    padding: 1em;
}

h1,
p {
    text-align: center;
    padding: .4em;
}

.container-ElasNaTech,
.container-conquistas {
    border: 2px solid #757979;
    background-color: var(--bgFirstColor);
    color: var(--firstColor);
    padding: 1em;
}

@media screen and (min-width: 36em) {
    #hamburguer {
        display: none;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--firstColor);
    }

    .profilePhoto {
        margin-left: 2em;
        width: 10em;
    }

    .header-nav ul {
        display: block;
        margin-right: 2em;
        font-size: .9em;
    }

    .header-nav li {
        display: inline-block;
    }

    .header-nav a {
        border-radius: 5px;
    }

    .container-img {
        position: relative;
        width: 100%;
        text-align: center;
    }

    .container-img img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .container-ElasNaTech img,
    .container-desafios img,
    .container-conquistas img {
        display: block;
        margin: 0 auto;
        width: 20%;
        max-width: 20%;
        height: auto;
    }

    .Name {
        font-size: 2em;
    }

}

@media screen and (min-width: 48em) {

    .Name {
        font-size: 3em;
    }

    .container-img {
        position: relative;
        width: 100%;
        text-align: center;
    }

    .container-img img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .container-ElasNaTech img,
     .container-desafios img,
     .container-conquistas img {
        display: block;
        margin: 0 auto;
        width: 20%;
        max-width: 20%;
        height: auto;
    }
}