@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

:root {
    --firstColor: #313535;
    --secondColor: #ffffff;
    --thirdColor: #000000;
    --bgFirstColor: #757979;
    --bgSecondoColor: #4C4D4D;
}

@keyframes moveHorizontal {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(1.25em);
    }

    100% {
        transform: translateX(0);
    }
}

body {
    margin: 0;
    background: var(--bgFirstColor);
    font-family: 'Sofia Sans', sans-serif;
}

html {
    font-family: sans-serif;
    height: 100%;
}

main {
    display: flex;
    justify-content: center;
}


.header-container {
    text-align: center;
    margin: auto;
    background-color: var(--firstColor);
}


.profilePhoto {
    width: 5em;
    border-radius: 50%;
    padding-top: .3em;
}

#hamburger {
    background-color: var(--secondColor);
    color: var(--firstColor);
    display: block;
    text-align: center;
    padding: .3em;
    cursor: pointer;
    font-size: 2em;
}

.header-nav {
    background-color: var(--firstColor);
}

.header-nav ul {
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .8em;
    display: none;
}

.header-nav ul.show {
    display: block;
}

ul {
    margin: 0;
}

.header-nav a {
    color: var(--secondColor);
    text-decoration: none;
    display: block;
    padding: 1em;
}

.header-nav a:hover {
    background: radial-gradient(circle, rgba(79, 76, 77, 1) 0%, rgba(234, 238, 244, 1) 100%);
}

.container-img {
    position: relative;
    width: 100%;
    text-align: center;
}

.container-img img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.container-desafios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 0.125em solid #4C4D4D;
    background-color: var(--firstColor);
    color: white;
    padding: 1em;
}

.container-conquistas img,
.container-desafios img {
    width: 40%;
    max-width: 80%;
    height: 40%;
    border-radius: 5px;

}

.container-ElasNaTech img {
    width: 70%;
    max-width: 80%;
    height: 60%;

}

.Name {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.313em 0.625em;
    color: var(--secondColor);
    z-index: 1;
    font-size: 1em;
    animation: moveHorizontal 3s infinite;
}

.container-sobreMim,
.container-aprendizado {
    border: 0.125em solid #4C4D4D;
    background-color: var(--firstColor);
    color: white;
    padding: 1em;
}

h1,
p {
    text-align: center;
    padding: .4em;
}

.title-projetos,
.projeto-paragrafo {
    color: var(--firstColor);
}

.container-ElasNaTech,
.container-conquistas {
    border: 0.125em solid #757979;
    background-color: var(--bgFirstColor);
    color: var(--firstColor);
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-projetos {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
}

.container-projetos img {
    height: 15em;
    width: 15em;
    gap: 1.5em;
    border-radius: 10px;
}
.container-depoimento {
    border: 0.125em solid #4C4D4D;
    background-color: var(--firstColor);
    color: white;
    padding: 1em;
    justify-content: center;
    text-align: center;
}

.container-depoimento video {
    width: 60%;
    max-width: 60%;
    height: auto;
    position: relative;
    text-align: center;
}

.carousel-container {
    position: relative;
    max-width: 18.75em;
    margin: 0 auto;
    margin-top: 1.5em;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.carousel-slide {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    transition: transform 0.3s ease;
    line-height: 1;
}

.carousel-slide i {
    margin-left: 4em;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 2em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#prevSlide {
    left: 0;
    color: var(--secondColor);

}

#nextSlide {
    right: 0;
    color: var(--secondColor);
}

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    justify-content: center;
    align-items: center;
}

.modal-container a {
    text-decoration: none;
    color: var(--secondColor);
}

.modal-container a:hover {
    text-decoration: none;
    color: var(--bgFirstColor);
}

.modal {
    background-color: var(--firstColor);
    color: var(--secondColor);
    padding: 1.25em;
    border-radius: 5px;
    box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 0.625em;
    right: 0.625em;
    cursor: pointer;
    width: 2em;
    font-size: 2em;
}

.footer-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1em;
    background: var(--bgFirstColor);
    text-align: center;
}

.footer-content i {
    display: inline-block;
    width: 3em;
    height: 3em;
    background-color: var(--bgFirstColor);
    font-size: 1.5em;
    color: var(--firstColor);
}

.footer-content button {
    display: inline-block;
    margin: 0.5em;
    width: 3em;
    height: 3em;
    background-color: var(--bgFirstColor);
    border: .5em solid #757979;
}


.logo-elas img {
    filter: brightness(0) invert(1);
    width: 5em;
  height: auto;
}


@media screen and (min-width: 36em) {
    #hamburger {
        display: none;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--firstColor);
    }

    .profilePhoto {
        margin-left: 2em;
        width: 10em;
    }

    .header-nav ul {
        display: block;
        margin-right: 2em;
        font-size: .9em;
    }

    .header-nav li {
        display: inline-block;
    }

    .header-nav a {
        border-radius: 5px;
    }

    .container-img {
        position: relative;
        width: 100%;
        text-align: center;
    }

  

    .container-ElasNaTech img,
    .container-desafios img,
    .container-conquistas img {
        display: block;
        margin: 0 auto;
        width: 20%;
        max-width: 20%;
        height: auto;
    } 

    .Name {
        font-size: 2em;
    }
}

@media screen and (min-width: 48em) {

    .Name {
        font-size: 3em;
    }

    .container-img {
        position: relative;
        width: 100%;
        text-align: center;
    }


    .container-ElasNaTech img,
    .container-desafios img,
    .container-conquistas img {
        display: block;
        margin: 0 auto;
        width: 20%;
        max-width: 20%;
        height: auto;
    }

    .container-projetos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
        justify-items: center;
        align-content: start;
        padding: 1em;
    }

    .container-projetos img {
        height: 15em;
        width: 15em;
        border-radius: 10px;
    }
}

@media screen and (min-width: 64em) {
    .container-projetos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
        justify-items: center;
        align-content: start;
        padding: 1em;
    }
}