@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

:root{
    --firstColor: #313535;
    --secondColor: #ffffff;
}

body {
    margin: 0;
    background: #d6e0e0; 
    font-family: 'Sofia Sans', sans-serif;
}

html {
    font-family: sans-serif;
    height: 100%;
}

.header-container {
    text-align: center;
    margin: auto;
    background-color: var(--firstColor); 
}


.profilePhoto {
    width: 5em;
    border-radius: 50%;
}

#hamburguer {
    background-color: var(--secondColor);
    color: var(--firstColor); 
    display: block;
    text-align: center;
    padding: .3em;
    cursor: pointer;
    font-size: 2em;
}

.header-nav {
    background-color: var(--firstColor); 
}

.header-nav ul {
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .8em;
    display: none;
}

.header-nav ul.show {
    display: block;
}

ul {
    margin: 0;
}

.header-nav a {
    color: var(--secondColor);
    text-decoration: none;
    display: block;
    padding: 1em;
}

.header-nav a:hover {
    background: radial-gradient(circle, rgba(79,76,77,1) 0%, rgba(234,238,244,1) 100%);
}

main {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 48em) {
    #hamburguer {
        display: none;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--firstColor); 
    }

    .profilePhoto {
        margin-left: 2em;
        width: 10em;
    }

    .header-nav ul {
        display: block;
        margin-right: 2em;
        font-size: .9em;
    }

    .header-nav li {
        display: inline-block;
    }

    .header-nav a {
        border-radius: 5px;
    }

}